/* ==========================================================================
Main page styles
========================================================================== */

.container {
    display: flex;
    justify-content: center;
    padding: 100px;
}
.button {
    width: 500px;
    height: 150px;
    font-size: 36px;
}
.button-container {
    padding: 100px;
}
